<!DOCTYPE html>
<html lang="en" ng-app="CatCollection">
<head>
    <meta charset="utf-8">
    <title>Cats api</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.js"></script>
</head>
<body>
<h1>Cats</h1>

<p>Search: <input ng-model="query"></p>

<table ng-controller='CatsList' border="1">
    <tr ng-repeat='cat in cats | filter:query | orderBy:"nickname"'>
        <td>{{cat.nickname}}</td>
        <td><a href="#{{ cat._id }}">Edit</a> </td>
        <td><a href ng-click="cat.$delete()">Remove</a></td>
    </tr>
</table>

<script type="text/javascript">
    var app = angular.module("CatCollection", [ "ngResource" ]);

    function CatsList($scope, $resource) {
        var Cats = $resource('/api/rest/Cats/:id');
        $scope.cats = Cats.query();
    }
</script>
</body>
</html>